$c-text-main: #222222;
$c-text-dark-blue: #000957;
$c-link-main: #000957;
$c-link-hover: lighten($c-link-main, 20%);
$c-button-main: #ee8800;
$c-button-hover: lighten($c-link-main, 20%);
$c-bg-main: #ffffff;
$c-bg-gray: #F5F5F5;
$c-border: #000957;

$font-main: "Lora", "Times New Roman", serif;
$font-second: "PTMono", "Arial", sans-serif;

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$desktop-min: 1024px;
$desktop-max: 1365px;
$desktop-hd-min: 1366px;
