.card {
    display: block;
    width: 33.25%;
    margin-bottom: 32px;
    padding: 0 12px;
}

.card__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
    padding-bottom: 88px;
}

.card__container {
    border: 1px solid #86869B;
}

.card__box {
    display: flex;
    justify-content: space-between;
    height: 120px;
    padding: 16px 16px 0;
}

.card__heading {
    margin-right: 12px;
    font-size: 18px;
    line-height: 25px;
}

.card__arrow {
    flex-shrink: 0;
    transition: 0.5s;

    & .icon-arrow {
        width: 28px;
        height: auto;
    }

    &:hover {
        opacity: 0.5;
    }
}

.card__img-link {
    position: relative;
    display: block;
    padding-bottom: 43%;
}

.card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card:first-child {
    width: 66.5%;
}

.card:first-child .card__box,
.card:nth-child(2) .card__box {
    height: 150px;
}

.card:first-child .card__heading {
    font-size: 28px;
    line-height: 34px;
}

.card:first-child .card__arrow .icon-arrow,
.card:nth-child(2) .card__arrow .icon-arrow {
    width: 36px;
}

.card:first-child .card__img-link {
    padding-bottom: 37%;
}

.card:nth-child(2) .card__heading {
    font-size: 22px;
    line-height: 26px;
}

.card:nth-child(2) .card__img-link {
    padding-bottom: 76%;
}
