.edition__heading {
    margin-bottom: 16px;
    padding-top: 120px;

    @include phones__768 {
        padding-top: 40px;
    }
}

.edition__description {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 28px;

    @include phones__768 {
        font-size: 18px;
        line-height: 24px;
    }
}

.edition__menu {
    display: flex;

    @include phones__768 {
        flex-direction: column;
    }
}

.edition__menu-name {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 26px;
    text-decoration-line: underline;
    color: $c-text-dark-blue;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }

    &--active {
        font-weight: bold;
    }

    @include phones__768 {
       margin-bottom: 20px;
    }
}

.edition__menu-name:not(:last-child) {
    margin-right: 60px;
}

.edition__all {
    display: block;
    margin-bottom: 136px;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-decoration-line: underline;
    color: $c-link-main;
    transition: 0.5s;

    &:hover {
        opacity: 0.5;
    }

    @include phones__768 {
        margin-bottom: 40px;
    }
}

.edition__link-box {
    display: flex;

    @include phones__768 {
        flex-direction: column;
    }
}

.edition__link:first-child {
    margin-right: 20px;

    @include phones__768 {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
