.footer {
    background-color: #F5F5F5;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding-top: 80px;

    @include tablets_1024 {
        flex-direction: column;
    }
}

.footer__block {
    width: 45%;

    @include tablets_1024 {
        width: 100%;
    }

    &:first-child {
        @include tablets_1024 {
            margin-bottom: 30px;
        }
    }
}

.footer__heading {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 31px;
}

.footer__text {
    font-size: 16px;
    line-height: 24px;

    &--first {
        min-height: 160px;

        @include tablets_1024 {
            min-height: auto;
        }
    }

    &--second {
        margin-bottom: 20px;
    }
}

.footer__license {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 15px;
}

.footer__right {
    padding-bottom: 40px;
    font-size: 12px;
    line-height: 18px;
    color: #5A5A5A;
}
