.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;

    @include desktop_1366 {
        width: 80%;
    }
}

.menu__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 12px;
    transition: 0.5s;

    &.active {
        background-color: #ffffff;
    }
}

.menu__item ul[class] {
    display: none;
    position: absolute;
    top: 122px;
    left: 0;
    min-width: 361px;
    padding: 12px;
    background-color: #ffffff;
}

.menu__subitem {
    padding-bottom: 8px;

    & a {
        font-size: 16px;
        line-height: 24px;
    }
}

.menu__subitem:not(:last-child) {
    margin-bottom: 8px;
    border-bottom: 1px solid #F7F4ED;
}

.menu__link {
    font-size: 18px;
    line-height: 23px;
    color: $c-link-main;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        color: $c-link-hover;
    }
}

.menu__login {
    background: transparent;
    border: none;
    outline: none;
    margin-right: 60px;
    padding: 0;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        opacity: 0.5;
    }

    .icon-user {
        display: block;
    }

    @include desktop_1366 {
        margin-right: 20px;
    }
}

.menu__languages {
    display: flex;
}

.menu__language {
    font-size: 18px;
    line-height: 23px;
    color: #86869B;
    text-decoration: none;

    &.active {
        color: $c-link-main;
    }

    &:hover {
        color: $c-link-hover;
    }

    &:first-child {
        padding-right: 8px;
        border-right: 1px solid #86869B;
    }

    &:last-child {
        padding-left: 8px;
    }
}

.menu__arrow {
    width: 8px;
    height: 8px;
    margin-left: 8px;
    border-right: 1px solid $c-border;
    border-bottom: 1px solid $c-border;
    transform: rotate(45deg);
}
