.partners__menu {
    max-width: 75%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    padding: 120px 50px 24px 0;
    border-bottom: 1px solid #86869B;

    @include desktop_1366 {
        max-width: 95%;
    }
}

.partners__name {
    font-size: 36px;
    line-height: 46px;
    color: #D8D8D8;
    cursor: pointer;

    &:hover {
        color: $c-text-dark-blue;
    }

    &--active {
        color: $c-text-dark-blue;
    }

    @include desktop_1366 {
        font-size: 30px;
    }
}

.partners__list {
    display: none;
    flex-wrap: wrap;
    padding-bottom: 120px;
    margin: 0 -20px;

    &.active {
        display: flex;
    }
}

.partners__item {
    display: flex;
    align-items: center;
    width: 25%;
    margin-bottom: 80px;
    padding: 0 20px;
}
