.wrapper {
    display: flex;
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;

    &--about {
        padding-left: 144px;

        @include tablets_1024 {
            padding-left: 114px;
        }

        @include phones__768 {
            padding-left: 70px;
        }

        @include phones__480 {
            padding: 0 20px;
        }
    }
}

.wrapper__box {
    flex-grow: 1;
    padding: 0 50px;
    position: relative;

    &--archive {
        border-top: 2px solid $c-border;
        border-bottom: 2px solid $c-border;

        @include phones__480 {
            border: none;
        }
    }

    &--footer {
        border-top: 2px solid $c-border;

        @include phones__480 {
            border: none;
        }
    }

    @include tablets_1024 {
        padding: 0 20px;
    }

    @include phones__480 {
        padding: 0;
    }
}

.wrapper__strip {
    flex-shrink: 0;
    width: 74px;
    padding: 0 12px;
    background: transparent;
    border-right: 1px solid #000957;
    border-left: 1px solid #000957;

    @include phones__768 {
        width: 30px;
        padding: 0 5px;
    }

    @include phones__480 {
        display: none;
    }

    &--start {
        padding-top: 16px;
    }

    &--end {
        padding-bottom: 16px;
    }

    &--white {
        background-color: #ffffff;
    }

    &--archive {
        position: relative;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 5px;
        }
    }
}

.wrapper__inner-el{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #000957;
}

.wrapper__logo {
    max-width: 100%;
}
